/* General Styling */
body {
  background: radial-gradient(#a52a2a, #333333);
  font-family: "Poppins", sans-serif;
}

.panel-primary {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 50px;
  border: 1px solid #a52a2a;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  box-shadow: 0 4px 12px rgba(165, 42, 42, 1);
}

.input-group-text {
  background-color: #a52a2a;
  color: #fff;
  border: none;
}

.form-control {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.btn {
  background-color: #a52a2a;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn:hover {
  background-color: #ccc;
  color: #a52a2a;
  transform: translateY(-2px);
}

a {
  text-decoration: none;
  color: #a52a2a;
}

a:hover {
  text-decoration: underline;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .container-fluid {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .panel-primary {
    border-radius: 0;
    box-shadow: none;
    padding: 20px;
  }

  .input-group {
    margin-bottom: 15px;
  }
}
